.git
.github
.mypy_cache
.pytest_cache
.pytest_tmp
.ruff_cache
testtemp
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
htmlcov
dist
build
.venv
venv
env
ENV
.env
.envrc
poetry.toml
urgp-fallback-*.json
frontend/designs
docs
